* {
    box-sizing: border-box;
}

div {
    width: 95%;
    height: 200px;
    margin: 2.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    background-color: aqua;
}

.divInput {
    /*flex-direction: column;*/
}

.divTable {
    background-color: rgb(0, 162, 255);
    justify-content: center;
}

input {
    width: 25%;
    margin: 10px;
}

th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}